.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: rgba(89, 125, 209, 0.75);
  backdrop-filter: blur(14px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}
.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.logout-btn {
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
.logout-btn:hover {
  background: #e63939;
}
